@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  height: 0;
}

/* -------------fonte externa------------ */
/* ---------------configuração------------- */
:root {
  ---primarycolor: #c5734d;
  ---secondcolor: rgba(50, 116, 186, 0.602);
  ---thridcolor: #000000e0;
  ---familyfont: ;
  ---fourthcolor: white ;
}

/* ----------------configuraçao rápida------------ */

/* -------------------corpo da página------------ */
body {
  background: url(https://www.ufmg.br/espacodoconhecimento/wp-content/uploads/2021/11/capa-marte-2.png);
  background-repeat: no-repeat;
  background-size: 1800px;
  background-attachment: scroll;
}

/* ------------------header---------------------- */
header {
  background-color: #0B0838;
  padding: 0px;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 20%;
  color: white;
  font-family: fonte1;
  margin-top: 0;
  background-size: cover;

}

/* --------------fim do header------------- */
/* ----------------container---------------- */
.container {
  margin-left: 3%;
}





/* ----------------------figure------------------  */

figure {
  padding: 0;
  display: flex;
  flex-direction: row-reverse;

}

/* -------------------logo------------------ */

.logo {
  width: 145px;
  margin-left: 88%;
  margin-top: 10px;
  padding: auto;
  height: 120px;


}

/* ------------------fim da logo----------------- */
/* -----------unicron abaixo da img-------------- */


/* ------------unicron abaixo da img-------------- */
/* -----------------buttons-------------------- */
.buttons {
  display: flex;
  font-weight: 900;
  text-align: justify;
  margin-top: -55px;
  height: 80px;
  padding-left: 15px;
  gap: 20px;
  letter-spacing: 4px;
  font-weight: 300;
  z-index: 20;

}

.buttons h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

strong {
  background-color: #312b8b;
  padding: 10px;
  border-radius: 10px;
}

a {
  padding-right: 1%;
  text-decoration: none;
  color: white;

}

/* -----------------planetas na navbar-------------- */

/* ---efeitos------- */
@keyframes collapseAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
  }
}

@keyframes expandAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #312b8b;
  margin-bottom: 40%;
  transition: height 0.3s ease, visibility 0s linear 0.3s;
  height: 100%;
  width: 100%;
  z-index: 15;
  position: absolute;
  margin-top: 10%;

}

.navbar.collapsed {
  height: 0;
  overflow: hidden;
  visibility: 100%;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-bottom: 10%;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar.collapsed a {
  visibility: hidden;
}

.navbar h2 {
  font-size: 23px;
  font-weight: 90;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;

}


/* ------------imagem dos planetas---------- */

img {
  width: 110px;
  height: 100px;
  border-radius: 30%;

}



/* ---------------Os planetas--------------- */

.mercurio {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 100;
}
.mercurio h2 {
  margin-top: 10px;
 margin-right: 10px;
}


.venus {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.venus h2 {
  margin-top: 10px;
 margin-right: 10px;
}

.terra img{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  width: 100px;
 margin-right: 3px;
}

.terra h2 {
  margin-top: 10px;
  margin-left: 3px;
}

.marte {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.marte h2 {
  margin-top: 10px;
}

/* --navbarjupiter-- */
.jupiter {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95px;
}

.jupiter h2 {
  margin-top: 10px;
}

.saturno {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 140px;
}

.saturno img {
  width: 120px;
  height: 120px;
  margin-left: 15px;
}

.urano {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 140px;
}

.urano h2 {
  margin-top: 10px;
}

.netuno {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 180px;
}

/* ---------planeta navbar-------------- */
/* -------------botão com efeito---------- */

.toggleButton {
  position: absolute;
  top: 167%;
  margin-left: 48%;
  padding: 10px;
  background-color: #312b8b;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  border: none;
  width: 80px;
  height: 90px;
  border-radius: 50%;
  transition: transform 0.3s ease, top 0.3s ease;

}

.toggleButton:hover {
  transform: scale(1.2);
}


/* -------------------fim do corpo da página---------- */
.molduraG {
  background-color:rgb(222, 184, 135, 0.3);
  width: 100%;
  height: 115%;
  position: absolute;
}


/* ----------------------moldura pequena.--------------------- */
.molduraP {
  background: var(---thridcolor);
  height: 20vw;
  width: 40%;
  margin: 13% 25% 25% 30%;
  border-radius:2%;
  background-size: cover;
  padding-bottom: 17%;
  padding-left: 10px;
  padding-right: 10px;
}

/* ------------------fim do container---------------- */
/* -------------------titulo x lista x texto------------------------- */
.titulo {
  color: var(---primarycolor);
  font-family: sans-serif;
  display: flex;
  align-items: top;
  margin: 3%;
  text-align: center;
  justify-content: left;
  padding: 15px;

}

.lista {
  text-decoration: none;
  padding: 1%;
  font-family: sans-serif;
  list-style-type: none;
  font-weight: 900;
  padding-top: 28px;
  padding-left: 15px;
  margin-bottom: auto;
  color: var(---fourthcolor);
}

.texto{
  color: rgb(202, 199, 199);
  margin: 6.5%;
  line-height: 2.0em;
  font-size: 100%;
  text-decoration: none;
  
}

/* -----------------fim do titulo - lista - texto----------------------- */
/* -------------------planeta em 3d---------------------- */

.globo {
  width: 200px;
  height: 200px;
  float: right;
  border-radius: 50%;
  background-image: url(https://media.tenor.com/SqJHatCJ40cAAAAj/mars.gif);
  background-size: cover;
  background-position-x: center;
  margin-bottom: 10px;
  align-items: center;
  margin-right: 10px;
}

/* @keyframes rotate {
  to{background-position: 100%;}
} */

/* ----------------------fim do planeta 3d-------------- */
/* ---------------------subtitulo---------------------- */
h2 {
  color: var(---primarycolor);
  font-family: sans-serif;
  top: 20%;
  padding-left: 15px;
}

/* --------------fim do subtitulo-------------- */

/* --------------outras reportagens--------------- */

a {
  text-decoration: none;
  color: var(---primarycolor);
}

.textoF {
  font-size: 15px;
  padding: 15px;
  margin: -2%;
  line-height:2.5em;
  border: none;
  border-top: 0;
  border-left: none;
  border-right: none;
  text-align: center;
  font-family: sans-serif;
}
.textoF2 {
  font-size: 15px;
  padding: 15px;
  margin: -2%;
  line-height:2.5em;
  border: solid;
  border-top: 8px 8px solid;
  border-left: none;
  border-bottom: none;
  border-right: none;
  text-align: center;
  font-family: sans-serif;
  margin-top: 130px;
}

figcaption {
  text-align: center;
  margin-top: 80px;
}

.unicronTF {
  text-align: center;
  font-size: 17px;
  margin: 5%;
}

pre {
  font-family: sans-serif;
  float: left;
  line-height: 2.6em;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.imgF {
  width: 120px;
  height: 120px;
  margin-top: 6%;
  margin-left: 18%;
  display: flex;
  float: center;

}



.insta {
  width: 40px;
  height: 40px;
  margin-left: 250px;
  margin-bottom: 20px;
  cursor: pointer;

}

/*--------------------------- RODAPÉ--------------------------- */

.footer {
  position: absolute;
  bottom: 0%;
  width: 100%;


  /* altura do rodapé */
}

/*------------------------- FINAL - DO - RODAPÉ--------------------------- */


/*--------------------------- FINAL - DO - TEXTO --------------------------- */


/*--------------------------- LINHA--------------------------- */
.box {
  width: 50%;
  float: left;
  height: 250px;
  /*Altura da linha*/
  color: white;
  background-color: rgb(57, 40, 117);
}

.linha-vertical {
  border-left: solid;
  /* Adiciona borda esquerda na div como ser fosse uma linha.*/
  box-sizing: border-box;
  text-decoration: none;
  display: flex;

}

